.deletar{
   background-color: #fff;
   font-weight: bold;
   width: 30px;
   height: 30px;
   border: #181b22 1px solid;
   border-radius: 20px;
   display: flex; 
   align-items: center;
   justify-content: center;
}

.deletar:hover{
   background-color: #181b22;
   transition: .3s;
   color: #fff;
}

.novosTreinos__container h3{
   margin: 1em 0;
}