.container__input{
   display: flex;
   justify-content: center;
   flex-flow: column;
   margin-top: 2em;
   padding: 1em;
}

.label__input {
   font-size: 1em;
   color: #181b22;
   font-family: 'Arimo', sans-serif;
   font-weight: bold;
   padding-left: .5em;
}

.input {
   padding: 1em;
   margin-top: 1em;
   background-color: #181b22;
   color: #fff;
   border: none;
   border-radius: 10px;
}