@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');


body {
  background-color: #181b22;
  font-family: 'Arimo', sans-serif;
}

.treinos__titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  color: #fff;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  font-size: 1.2em;
}

.treinos {
  display: flex;
  flex-flow:column wrap;
  align-items: center;
  justify-content: center;
}